{% extends "main.html" %}
{% block body %}
<h3>Analysis results</h3>
<a href='/narralyzer/'>Restart</a><br/>
{% for i in range(1, counter) %}
<b>Chapter {{ i }}</b><br>
<img src='static/output/{{ output }}_{{ i }}.png?{{ rnd }}' width="%100" style='max-width:1000px;'><br>
<hr><br>
{% endfor %}
<br>
All chapters as one:<br>
<img src='static/output/{{ output }}_all.png?{{ rnd }}' width="%100" style='max-width:1000px;'>

<br><br>

{% for j in aura %}
<br><h1>Chapter {{ loop.index }}</h1>
<hr><br><br>
{% for name in j %}
<hr><br>
<h2>{{name}}</h2> <br>
{% for line in j[name] %}
    {{line}} <br>
{% endfor %}
{% endfor %}
{% endfor %}

{% endblock %}
