{% extends "main.html" %}
{% block body %}
   <div sytle='width: 80%; margin: 0 auto;'>
       <h3>Please define chapters</h3>
       (By clicking on the line-numbers)
       <form action="/narralyzer/characters" method=get>
       <textarea id="code" name="code">{{ raw_text }} </textarea>
       <input type="hidden" id="chapters" name="chapters" value="0"/>
       <script>
       var chapters = [];

       var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
          lineNumbers: true,
          gutters: ["CodeMirror-linenumbers", "breakpoints"]
       });

       editor.on("gutterClick", function(cm, n) {
          var info = cm.lineInfo(n);
          cm.setGutterMarker(n, "breakpoints", info.gutterMarkers ? null : makeMarker());
          if (!(n in chapters)) {
                chapters.push(n);
            } else {
                chapters = jQuery.grep(chapters, function(value) { return value != n; });
            }
          $("#chapters").val(chapters);
       });

       function makeMarker() {
          var marker = document.createElement("div");
          marker.style.color = "#822";
          marker.innerHTML = "●";
          return marker;
       }
       </script>
       <br/>
       <center>
           <input type='submit' value='Submit'>
       </center>
   </form>
   </div>
{% endblock %}

