{% extends "main.html" %}
{% block body %}
   <div sytle='width: 80%; margin: 0 auto;'>
       <h3>Please correct the characters</h3>
       (That play a mayor role in the narrative,
        Newlines symoblizes nicknames for the 'main' name)<br>

   <form action="/narralyzer/analyze">
   <input type="text" id="enter_task" placeholder="Enter character name">

   <input type="submit" id="add" value="Add character">

   <p>
     <ul id="todo_list">
     </ul>
   </p>


    <script>
    function enter_task () {
        var text = $('#enter_task').val();
        $('#todo_list').append('<li>'+ text + ' <input type="submit" class="edit" value="Edit">' + '<input type="submit" class="done delete" value="Delete">' +'</li>');
    };

    $('#todo_list').on('click', '.edit', function(){
        $(this).parent().attr('contenteditable','true');
    });

    $('#todo_list').on('click', '.delete',function(){
        $(this).parent().remove();
    });

    $(function() {
        $('#add').on('click', enter_task);
    });

    {% for item in characters %}
        $('#todo_list').append('<li> {{item}} <input type="submit" class="edit" value="Edit">' + '<input type="submit" class="done delete" value="Delete">' +'</li>');
    {% endfor %}
    </script>
    <br><br>
    <input type='submit' value='submit'>
    </form>
   </div>
{% endblock %}
