{% extends "main.html" %}
{% block body %}
   <div sytle='width: 80%; margin: 0 auto;'>
       <h3>Overview of characters</h3>
       That play a mayor role in the narrative.
   <form action="/narralyzer/analyze" id="analyze">
   <input type='hidden' name='filename' value="{{ filename }}">
   <input type='hidden' id="characters" name='characters' value='{% for item in characters %}{{item}},{% endfor %}'>
   <input type='hidden' id="aura" name='aura' value='{{ aura }}'>
   <input type='submit' value='generate images' method=get>
   <br><br>

   </div>
<div id="tabs">
  <ul>
   {% for char in characters %}
   <li><a href="#fragment-{{loop.index}}"><span>{{loop.index}}</span></a></li>
   {% endfor %}
   </ul>
   {% for char in characters %}
   <div id="fragment-{{loop.index}}">
      {% set id1 = loop.index %}
      {% if not char %}
        This chapter does not contain recognized characters.
      {% else %}
          {% for name in  char %}
              <input type=text name="ner_{{id1}}_{{loop.index}}" value="{{ name }}"> <br/>
          {% endfor %}
      {% endif %}
   </div>
   {% endfor %}
</div>
</form>

<script>
$("#tabs").tabs();
</script>


{% endblock %}
