{% extends "main.html" %}
{% block body %}

Text must be either in Dutch or English (Due to available NER-engines).
<br><br>
Paste your text here and press submit<br>
<form action="" method=get>
    <textarea rows="4" cols="50" style='margin-left: 100px;'></textarea><br>
    <input type=submit value=Submit style='margin-left: 250px;'>
</form>

Or upload a <a href='https://en.wikipedia.org/wiki/Text_Encoding_Initiative'>.TEI</a> file:
<br>
<br>
<form action="" method=post enctype=multipart/form-data id="uploadform" style='margin-left: 100px;'>
  <p>Select 'Browse' to select a file to upload, next press 'Upload' to commence the uploading.<br>
  <p><input type=file name=file> <input type=submit value=Upload>
</form>
<br><br>

{% endblock %}
