<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Narralyzer-0</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">


  </head>
  <body>
    <div class="header">
      <img src="static/img/logo_kb.png" id="header_logo_kb">
      <img src="static/img/logo_ru.png" id="header_logo_ru">
      <h1>Narralyzer</h1>
      <h2>Select input text.</h2>
    </div>
    {% block body %}
    {% endblock %}
  </body>
</html>
