<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Narralyzer</title>
    <link rel="stylesheet" href="static/js/jquery-ui/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="static/js/codemirror/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <script src="static/js/jquery.js"></script>
    <script src="static/js/jquery-ui/jquery-ui.js"></script>
    <script src="static/js/codemirror/lib/codemirror.js"></script>

    <style type="text/css">
    .breakpoints { width: .8em; }
    .breakpoint { color: #822;  }
    .CodeMirror { border: 1px solid #aaa;
                  width: 800px;
                  margin-left: 100px; }
    </style>
  </head>
  <body>
    <div class="header">
        <a href='/narralyzer'><img src="static/img/narralyzer_logo_small.png" id="header_narralyzer" style='height: 100px;'></a>
      <img src="static/img/logo_kb.png" id="header_logo_kb">
      <img src="static/img/logo_ru.png" id="header_logo_ru">
      <h1 style='margin-top: -100px;'>Narralyzer</h1>
    </div>
    {% block body %}
    {% endblock %}
  </body>
</html>
