<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Narralyzer</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="static/js/jquery.js"></script>
    <script src="static/js/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="static/js/codemirror/lib/codemirror.css">
      <style type="text/css">
      .breakpoints { width: .8em; }
      .breakpoint { color: #822;  }
      .CodeMirror { border: 1px solid #aaa;
                    width: 400px; 
                    margin-left: 100px; }
    </style>
  </head>
  <body>
    <div class="header">
      <img src="static/img/logo_kb.png" id="header_logo_kb">
      <img src="static/img/logo_ru.png" id="header_logo_ru">
      <h1>Narralyzer</h1>
    </div>

   <div sytle='width: 80%; margin: 0 auto;'>
       <h1>Please define chapters</h1>
       <form action="/narralyzer/process" method=get>
       <textarea id="code" name="code">{{ raw_text }} </textarea>
       <input type="hidden" id="chapters" name="chapters" value="0"/>
       <script>

       var chapters = [];

       var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
          lineNumbers: true,
          gutters: ["CodeMirror-linenumbers", "breakpoints"]
       });

       editor.on("gutterClick", function(cm, n) {
          var info = cm.lineInfo(n);
          cm.setGutterMarker(n, "breakpoints", info.gutterMarkers ? null : makeMarker());
          if (!(n in chapters)) {
                chapters.push(n);
            } else {
                chapters = jQuery.grep(chapters, function(value) { return value != n; });
            }
          $("#chapters").val(chapters);
       });

       function makeMarker() {
          var marker = document.createElement("div");
          marker.style.color = "#822";
          marker.innerHTML = "●";
          return marker;
       }

       </script>
       <br/>
       <input type='submit'>
   </form>
   </div>
</body>

</html>
